using System;
{{#Using}}
using {{value}};
{{/Using}}

namespace {{namespace}}
{
	public class {{mock_class}} : {{src_class}}
	{
		// Do not remove
		private static Type _retester = typeof({{src_class}});
	}
}
