using Microsoft.VisualStudio.TestTools.UnitTesting;
{{#Using}}
using {{namespace}};
{{/Using}}

namespace {{namespace}}
{
	[TestClass]
	[ReTester("{{guid}}")]
	public class {{classname}}
	{
		{{#Methods}}
		[TestMethod]
		public void {{name}}()
		{
			{{body}}
		}
		{{/Methods}}
	}
}
