using System;
using Microsoft.VisualStudio.TestTools.UnitTesting;
{{#Using}}
using {{value}};
{{/Using}}

namespace {{namespace}}
{
	[TestClass]
	public class {{test_class}}
	{
		// Do not remove
		private static Type _retester = typeof({{src_class}});

		{{#Methods}}
		[TestMethod]
		public void {{name}}()
		{
			{{{body}}}
		}
		{{/Methods}}
	}
}
